<table id="example2" class="table table-bordered table-hover">
   <thead>
       <tr>
           <th>No</th>
           <th>Name</th>
           <th>Bank</th>
           <th>NoRekining</th>
           <th>Aksi</th>
       </tr>
   </thead>
   <tbody>
       <% for(let i=0; i < bank.length; i++ ) { %>
           <tr>
               <td>
                   <%= i + 1 %>
               </td>
               <td>
                   <%= bank[i].name %>
               </td>
               <td>
                   <%= bank[i].nameBank %>
               </td>
               <td>
                   <%= bank[i].noRekening %>
               </td>
               <td>
                   <form action="/bank/delete/<%= bank[i]._id %>?_method=DELETE" method="POST">
                       <a href="/bank/update/<%= bank[i]._id %>" class="btn btn-warning">
                           <i class="fas fa-pencil-alt"></i>
                           Ubah
                       </a>
                       <button class="btn btn-danger">
                           <i class="fas fa-trash"></i>
                           Hapus
                       </button>
                   </form>
               </td>
           </tr>
           <% } %>
           
           <% if(bank.length === 0 ) { %>
            <tr class="empty-data-message">
              <td colspan="5" style="text-align: center;">Data kosong</td>
            </tr>
            <% } %>
   </tbody>
</table>