<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Coin Name</th>
            <th>Coin Quantitiy</th>
            <th>Price</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i < nominals.length; i++ ) { %>
            <tr>
                <td>
                    <%= i + 1 %>
                </td>
                <td>
                    <%= nominals[i].coinName %>
                </td>
                <td>
                    <%= nominals[i].coinQuantity %>
                </td>
                <td>
                    <%= nominals[i].price %>
                </td>
                <td>
                    <form action="/nominal/delete/<%= nominals[i]._id %>?_method=DELETE" method="POST">
                        <a href="/nominal/update/<%= nominals[i]._id %>" class="btn btn-warning">
                            <i class="fas fa-pencil-alt"></i>
                            Ubah
                        </a>
                        <button class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                            Hapus
                        </button>
                    </form>
                </td>
            </tr>
            <% } %>

            <% if(nominals.length === 0 ) { %>
                <tr class="empty-data-message">
                  <td colspan="5" style="text-align: center;">Data kosong</td>
                </tr>
                <% } %>
    </tbody>
</table>